**/CLAUDE.md
.claude/
.agents/

# Agent symlinks created by skills CLI
.agent/
.cline/
.codebuddy/
.codex/
.commandcode/
.continue/
.crush/
.cursor/
.factory/
.gemini/
.github/
.goose/
.junie/
.kilocode/
.kiro/
.kode/
.mcpjam/
.mux/
.neovate/
.opencode/
.openhands/
.pi/
.pochi/
.qoder/
.qwen/
.roo/
.trae/
.windsurf/
.zencoder/
skills/
